@import "tailwindcss";


html {
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 4000px) {
  html {
    font-size: 36px;
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #4f39f6;
}
/* Calendar container */
.flatpickr-calendar {
  border-radius: 16px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Header */
.flatpickr-months {
  background: #4f39f6;
  color: white;
  border-radius: 16px 16px 0 0;
}

.flatpickr-current-month,
.flatpickr-monthDropdown-months,
.numInput.cur-year,
.flatpickr-prev-month,
.flatpickr-next-month {
  color: white !important;
  fill: white !important;
}
